.about-work {

}

.about-work__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-work__item {
    position: relative;
    width: 100%;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    &-title {
      span {
        background: #FFFFFF;
        padding-right: 12px;
      }

      display: inline-block;
      z-index: 10;
      color: #3DB3E4;
      font-family: $inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0 0 12px;

      @media (max-width: 1200px) {
        font-size: 36px;
      }

      @media (max-width: 768px) {
        font-size: 28px;
      }

      @media (max-width: 465px) {
        font-size: 24px;
      }
    }

    &-description {
      color: #000;
      font-family: $inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0 0 40px;

      @media (max-width: 1400px) {
        font-size: 20px;
      }

      @media (max-width: 1200px) {
        font-size: 18px;
      }

      @media (max-width: 992px) {
        font-size: 16px;
      }

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    &-img {
      height: initial;
      width: initial;

      @media (max-width: 1200px) {
        height: 250px;
      }

      @media (max-width: 992px) {
        height: 200px;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &-row {
      display: flex;
      position: relative;

      &--step-4 {
        padding-left: 100px;
      }
    }

    &-row:nth-child(1) {
      flex-direction: column;

      max-width: 53%;
      width: 100%;

      @media (max-width: 768px) {
        max-width: 100%;
      }

      & .after-line {
        z-index: 1;
        top: 30px;

        @media (max-width: 768px) {
          top: 20px;
        }
      }

      & .before-line {
        z-index: 1;
        bottom: 0;
      }

      & .after-line,
      & .before-line {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        height: 4px;
        background: #3DB3E4;
      }
    }

    &-row:nth-child(2) {
      max-width: 47%;
      width: 100%;

      justify-content: end;

      @media (max-width: 768px) {
        display: none;
      }
    }

    &:nth-child(even) {
      .about-work__item-row:nth-child(2) {
        justify-content: start;
      }
    }
  }
}