.about-work__title {
  margin-bottom: 40px;
}

.about-work__mobile-img {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }

  position: relative;
  width: 100%;
  margin-top: 25px;

  height: 230px;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 80%;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    opacity: 0;

    transform: translate3d(-50%, -50%, 0);
    transition: opacity .2s $transition-primary;

    &.active {
      opacity: 1;
    }
  }
}

.about-work__list {
  @include flex-column;

  @media (max-width: 768px) {
    gap: 10px;
  }

  .about-work__item {
    @include flex-row-space-b;


    position: relative;
    width: 100%;
    //margin-bottom: 40px;
    margin-top: -45px;

    @media (max-width: 1200px) {
      margin-top: -30px;
    }

    @media (max-width: 992px) {
      margin-top: 20px;
    }

    @media (max-width: 768px) {
      padding: 23px 16px;
      border-radius: 15px;
      cursor: pointer;

      &.active {
        border: 1px solid #3DB3E4;

        & .about-work__item-mobile__arrow {
          opacity: 1;

          svg {
            transform: rotate(0deg);
          }
        }

        & .about-work__item-description {
          -webkit-box-orient: unset;
          max-height: 1000px;
        }
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    &-title {
      span {
        background: #FFFFFF;
        padding-right: 12px;
      }

      display: inline-block;
      z-index: 10;
      margin: 0 0 12px;

      font-size: 48px;
      font-family: $inter;
      color: #3DB3E4;
      font-weight: 700;

      @media (max-width: 1200px) {
        font-size: 36px;
      }

      @media (max-width: 768px) {
        color: #333 !important;
        font-size: 14px;
      }
    }

    &-content {
      z-index: 2;
      width: 100%;
    }

    &-mobile__arrow {
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        display: flex;
      }

      width: 60px;
      height: 60px;
      padding: 20px;

      border-radius: 10px;
      border: 0.5px solid #3DB3E4;
      background: #ECF5FB;

      opacity: .5;

      svg {
        transform: rotate(-135deg);

        transition: transform .2s ease-in-out;
      }
    }

    &-description {
      font-size: 24px;
      font-family: $inter;
      font-weight: 500;
      color: #000;

      transition: max-height 1s linear;

      margin: 0 0 40px;

      @media (max-width: 1400px) {
        font-size: 20px;
      }

      @media (max-width: 1200px) {
        font-size: 18px;
      }

      @media (max-width: 992px) {
        font-size: 16px;
      }

      @media (max-width: 768px) {
        margin: 0;
        max-width: 100%;
        width: 100%;

        max-height: 2.6em;

        font-size: 14px;
        color: #636363 !important;
        font-weight: 400;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-img {
      height: initial;
      width: initial;

      @media (max-width: 1200px) {
        height: 250px;
      }

      @media (max-width: 992px) {
        height: 200px;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &-row {
      display: flex;
      position: relative;

      &:nth-child(1) {
        flex-direction: column;

        max-width: 53%;
        width: 100%;

        @media (max-width: 768px) {
          max-width: 100%;

          flex-direction: row;
          gap: 15px;
        }

        & .after-line {
          z-index: 1;
          top: 30px;

          @media (max-width: 768px) {
            top: 20px;
          }
        }

        & .before-line {
          z-index: 1;
          bottom: 0;
        }

        & .after-line,
        & .before-line {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          left: 0;
          height: 4px;
          background: #3DB3E4;
          border-radius: 2px;

          @media (max-width: 768px) {
            display: none;
          }
        }
      }

      &:nth-child(2) {
        max-width: 47%;
        width: 100%;

        justify-content: end;

        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    &:nth-child(even) {
      .about-work__item-row:nth-child(2) {
        justify-content: start;
      }
    }
  }
}