.companies {
  background: #0B1F27;

  &__container {
    padding-bottom: 0;
  }

  &__container-fluid {
    padding-bottom: 80px;
  }

  &__title {
    color: #FFFFFF;
  }

  &__slider {

    &-slide {
      margin: 0 40px;
      border-radius: 20px;
      background: #fff;
      height: 120px;
      padding: 10px;

      overflow: hidden;

      @media (max-width: 465px) {
        margin: 0 15px;
      }
      
      img {
        object-fit: contain;
        display: block;
        height: 100%;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}