.integration {
  background: url("../assets/integration-bg.png") repeat-y top center;
  background-size: cover;

  &__title {
    margin-bottom: -200px;
    text-transform: uppercase;
  }
}

.integration__notebook {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 20px;

  #lottie__notebook {
    max-width: 1200px;
    width: 100%;
    max-height: 720px;
    height: 100%;
    flex-shrink: 0;
  }

  img {
    max-width: 1200px;
    width: 100%;
    max-height: 720px;
    height: 100%;
    flex-shrink: 0;
  }
}

.integration__footer {
  display: flex;
  justify-content: center;
}