.pros-integration {
  background: #3DB3E4;

  &__title {
    color: #FFFFFF;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 100px;

    @media (max-width: 576px) {
      flex-direction: column;
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    row-gap: 21px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;

    &-number {
      @include flex-row;
      --size: 60px;

      justify-content: center;

      min-width: var(--size);
      width: var(--size);
      height: var(--size);

      background: #FFFFFF;
      border-radius: 8px;

      color: #3DB3E4;
      font-family: $inter;
      font-size: 48px;
      font-weight: 700;

      @media (max-width: 1400px) {
        --size: 50px;
        font-size: 42px;
      }
      @media (max-width: 1400px) {
        --size: 40px;
        font-size: 32px;
      }
    }

    &-text {
      color: #FFF;
      font-family: $inter;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.2em;

      & .static-text {
        display: none;

        @media (max-width: 992px) {
          display: block;
        }
      }

      & .animated-text {
        display: block;

        @media (max-width: 992px) {
          display: none;
        }
      }

      @media (max-width: 1400px) {
        font-size: 20px;
      }

      @media (max-width: 1200px) {
        font-size: 18px;
      }

      @media (max-width: 992px) {
        font-size: 16px;
      }
    }
  }

  &__row {
    max-width: 50%;
    width: 100%;

    @media (max-width: 576px) {
      max-width: 80%;
    }
  }

  &__row:nth-child(1) {
    padding-right: 60px;

    @media (max-width: 576px) {
      padding: 0;
      margin-bottom: 40px;
    }
  }
}