.pros-integration {
  background: #3DB3E4;

  &__title {
    color: #FFFFFF;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 100px;
  }

  &__list {
    display: flex;
    flex-direction: column;

    row-gap: 21px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;

    &-number {
      height: 60px;
      width: 60px;

      background: #FFFFFF;
      border-radius: 8px;

      text-align: center;
      color: #3DB3E4;
      font-family: $inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &-text {
      color: #FFF;
      font-family: $inter;
      font-size: 26px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 100% */
    }
  }

  &__row {
    max-width: 50%;
    width: 100%;
  }

  &__row:nth-child(1) {
    padding-right: 60px;
  }
}